body{
	background-color:#FFEFD5;
	font-family:"comic sans ms";
	font-size:100%;	
}


h1{
text-align: center;
}


section{
	width:100%;
}


div{
margin-right:1%;
height: 250px; 
margin-top: 15px;
border: 3px solid black;
/*padding: 5px;*/
font-weight: bold;
background-color:#A0522D;
color:#FFEFD5;
}

.inner{
	padding: 10px;
	overflow: hidden;
	border: none;
	height: auto;
}

p{
margin-top:0;
border: 2px solid black;
font-weight: bold;
background-color:#F4A460;
color:black;
width:auto;
margin-left: 80%; 
text-align: center;
}


*{

box-sizing: border-box;

}



@media (min-width:992px){

.col-lg{

float:left;

width:32%;

}

}

@media (min-width: 768px) and (max-width: 991px){

.col-md{

float:left;

width:49%;

}
.col-md:nth-child(3){
	width: 100%;
}
}
